
<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body>
    <center>
		<header> <h1>Saitheja Bikumalla </h1> 
            <h1>1001867581 </h1> 
            <br>
            <a href="/">Home Page</a>
             </header>
		<br> <br>
		</header>
		<form method="POST" action="/addpicture" >
			Input name<input type = "text" name = "name" />
			<!-- Picture Name<input type = "text" name = "pic" /> -->
			<input type="file" accept="static/*" name = "pic"/>
			<input type = "submit" name = "Update"/>
		 </form>
    </center> 
</body>
</html>