
<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body>
    <center>
		<header> <h1>Saitheja Bikumalla </h1> 
            <h1>1001867581 </h1> 
            <br>
            <a href="/">Home Page</a>
             </header>
		<br> <br>
		</header>
		<form method="POST" action="/addperson" >
            <center>
			Name<input type = "text" name = "name" /><br><br>
			State<input type = "text" name = "state" /><br><br>
            Salary<input type = "text" name = "sal" /><br><br>
            Grade<input type = "text" name = "grade" /><br><br>
            Room<input type = "text" name = "room" /><br><br>
            Number<input type = "text" name = "num" /><br><br>
            Picture<input type = "text" name = "pic" /><br><br>
            Keyword<input type = "text" name = "key" /><br><br>
			<input type = "submit" name = "Update"/>
        </center>
		 </form>
    </center> 
</body>
</html>