
<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body>
    <center>
        <header> <h1>Saitheja Bikumalla </h1> 
            <h1>1001867581 </h1> 
            <br>
            <a href="/">Home Page</a>
             </header>
		<br> <br>
		</header>
		<form method="POST" action="/sal" >
			Max salary<input type = "text" name = "maxsal" />
			Min salary<input type = "text" name = "minsal" />
			<input type = "submit" name = "notmatch"/>
		 </form>
    </center> 
</body>
</html>